.bg{
    display: flex;
    flex-direction: row;
    background: #282c34;
    padding-top: 10px;
    color:white;
}
.nav{
    grid-area: n;
    background: black;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.item a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.item a:hover{
    color:green;
}
.item a.active{
    color: goldenrod;
}
.item:hover{
    color: green
}

